.features {
  background-color: #F0F5F8;
  padding-bottom: 40px;
  &__wrapper {
    @include container;
  }
  &__title {
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__item {
    width: 280px;
    background-color: #fff;
    border-top: 3px solid #FBCD14;
    padding: 20px;
    margin-bottom: 30px;
  }
  &__item-title {
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
  }
  &__item-subtitle {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
  }
  &__item-list {
    @include reset-ul;
    margin-bottom: 30px;
  }
  &__item-item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px
  }
  &__end {
    font-size: 14px;
    line-height: 17px;
    span {
      font-weight: bold;
    }
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {
  .features {
    &__list {
      justify-content: space-around;
    }
    &__title {
      margin-bottom: 30px;
    }
  }
}
@media ($desktop-width) {
  .features {
    padding-bottom: 50px;
    &__title {
      font-size: 30px;
      margin-bottom: 60px;
      margin-top: 50px;
    }
    &__list {
      justify-content: space-between;
    }
  }
}
