.footer {
  background-color: #090909;
  &__wrapper {
    @include container;
    padding: 0 !important;
    padding-left: 20px !important;
  }
  .logo {
    margin-right: 0;
    display: block;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {
  .footer {
    &__wrapper {
      padding: 0 !important;
    }
  }
}
