.footer {
  background-color: #090909;
  &__wrapper {
    @include container;
    padding: 0 !important;
  }
  .logo {
    margin-right: 0;
    display: block;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {

}
