.main-slider {
  padding-top: 30px;
  padding-bottom: 30px;
  .slick-arrow {
    display: none !important;
    border: 0;
    background-color: #090909;
    color: #fff;
    width: 30px;
    font-size: 12px;
    height: 30px;
    outline: none;
    &:hover {
      background-color: #fcd846;
    }
  }
  &__wrapper {
    @include container;
    position: relative;
  }
  &__item {
    display: flex !important;
    flex-direction: column;
  }
  &__img {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
  &__descr {
    .btn {
      margin-top: 30px;
    }
  }
  &__inner {
    padding-right: 25px;
    padding-left: 25px;
    border-right: 2px solid #FCD846;
    border-top: 2px solid #FCD846;
  }
  &__description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
  }
  &__title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {
  .main-slider {
    padding-top: 120px;
    padding-bottom: 20px;
    &__item {
      flex-direction: row;
    }
    &__img {
      width: 500px;
      max-width: 500px;
      margin: 0;
      margin-right: 60px;
      img {
        width: 500px;
        max-width: 500px;
      }
    }
    &__descr {
      max-width: 640px;
      .btn {
        margin-top: 30px;
        margin-right: 0;
      }
    }
    .slick-arrow.slick-next {
      position: absolute;
      display: block !important;
      top: -60px;
      right: 0;
    }
    .slick-arrow.slick-prev {
      position: absolute;
      display: block !important;
      top: -60px;
      right: 45px;
    }
  }
}
