.partner {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #F5F5F5;
  &__wrapper {
    @include container;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    img {
      max-height: 80px;
      display: block;
      margin: 0 auto;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-arrow {
    display: none !important;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {

}
